$theme-color: #0A6689;
$white: #FFFFFF;
$gray: #888888;
$dark-gray: #555555;
$light-black: #333333;
$light-gray: #AAAAAA;
$lighter-gray: #CCCCCC;
$lightest-gray: #eeeeee;
$link-color-normal: #348dad;
$link-color-hover: #0A6689;
$link-color-selected: #52a5c4;
$link-color-bg: #FFFFFF;
$link-color-bg-hover: #CCCCCC;
$button-orig-color: #1b7799;
$button-hover-color: #0A6689;
$select-options: #3a92b2;
$nav-active-bottom: #47a1c1;
$max-width: 1200px;

$close-icon-background: #CD5C5C;
$button-bg-pink: #C71585;
$button-bg-maroon: #B22222;
$button-bg-cyan: #20B2AA;
$button-bg-lightcyan: #00CED1;
$button-disabled: #DDDDDD;
$button-bg-lightgreen: #5cb85c;
$button-bg-green: #4cae4c;

$button-bg-lightyellow: #f0ad4e;
$button-bg-yellow: #eea236;

$button-bg-lightblue: #428bca;
$button-bg-blue: #357ebd;

$button-bg-lightred: #d9534f;
$button-bg-red: #d43f3a;
